.myFonts, .mySelect {
	color: black;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
}

.mySelect {
	width: 135px;
	border: 1px solid #2094F0;
	padding: 4px;
}

.tableClass {
	width: auto;
	margin-bottom: 3px;
	
/* 	to give the cellSpacing */
	border-collapse:separate;
	border-spacing: 15px;
	
	font-size: medium;

	background-color: WHITE;
	padding: 10px;
}

#page-header {
	position: sticky;
	top: 0;
	z-index: 10;
    background-color: #ffffffed;
	border-bottom: 1px SOLID #CBCBCB;
	padding: 5px 0;
	margin-bottom: 3px;
}

#page-footer {
	margin: 10px 0;
}

.main-block {
	text-align: center;
}

.branding {
	float: left;
}

.versionInfo {
	float: right;
	text-align: right;
}

.statusMsgDiv {
	position: relative;
	left: -50%;
	border: 1px SOLID #FFEA51;
	color: BLACK;
	border-radius: 0 0 3px 3px;
	border-top: 0px;
	background: #FFEA51;
	padding: 3px 20px 3px 20px;
	display: none;
	font-size: 14px;
	text-align: center;
}

.myHeader {
	background: url(../../icons/pratikabu-stt-48-1.png) no-repeat;
	background-size: 32px;
	text-indent: 42px;
	display: inline-block;
	line-height: 32px;
	letter-spacing: -1.5px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 28px;
	color: #0070C0;
	margin: 5px 0;
	cursor: default;
}

a:link, a:visited {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: #9B2D2D;
	text-decoration: underline;
}

form {
	margin-bottom: 0px;
}

.mybutton {
	padding: 5px 10px;
	display: inline;
	border: none;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.mybutton:hover {
	background-position: 0 -48px;
}

.mybutton.red { background-color: #e50000; }
.mybutton.green { background-color: #58aa00; }
.mybutton.blue { background-color: #4699DA; }
.mybutton.orange { background-color: #FF510D; }
.mybutton.small { font-size: 16px; padding: 3px 7px; }

a.mylink {
	text-decoration: none;
	color: white;
}

.groupHeader {
	font-weight: bold;
	width: auto;
	padding-bottom: 5px;
	text-align: left;
}

.groupHeader span {
	font-weight: normal;
}

.siteTextArea {
	width: 85%;
	height: 70px;
	border: 1px solid #2094F0;
}

.textareaDiv {
	min-width: 60%;
}

/* .advancedProp {
	display: none;
} */

body {
	background-color: rgba(155, 155, 155, 0.2);
	margin: 0;
}

.mainContentWidth {
	width: 700px;
	display: inline-block;
}

hr {
	border: 0;
	border-top: 1px SOLID #CBCBCB;
}

.settinggroup {
    margin: 10px 5px;
    text-align: left;
}

.settinglabel {
    display: inline-block;
    width: 35%;
    text-align: right;
}

.settingoptions {
    display: inline-block;
    width: auto;
    text-align: left;
}

.iconcontainer {
	text-align: left;
}

.iconselector {
	display: inline-block;
	margin: 5px 2px 5px;
}

.iconselector img {
	margin-left: 3px;
	max-width: 48px;
}

.useMyIcon {
	padding: 5px;
	text-align: left;
}

.verticalTop {
	vertical-align: top;
}

.groupsubheading {
	margin-top: 10px;
	text-align: left;
}

.bottomIcon {
	width: 20px;
	height: 20px;
}

.withLove {
	font-size: 30px;
	text-shadow: 0px 1px 0 #ffffff;
	cursor: default;
	color: #c3c3c3;
}

@keyframes pulse-color {
	0% { color: #989898; }
	100% { color: #e74c3c; }
}

.withLove:hover {
	animation: pulse-color 1s infinite alternate;
}

.slider {
	width: 300px;
	display: inline-block;
	vertical-align: middle;
}

.help-tip {
	font-size: 12px;
	text-align: justify;
}

.mydialog {
	width: 550px;
	padding: 10px;
	z-index: 40;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: none;
	border: 2px SOLID #507C9E;
	border-radius: 3px;
}

.mydialog-footer, .mydialog-body {
	margin-top: 5px;
	text-align: center;
}

#iconSelectorId {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(77px, 1fr));
}

@media screen and (max-width: 750px) {
	.mainContentWidth {
		width: 90%;
		min-width: 600px;
	}

	.settinglabel {
		width: 30%;
	}

	.slider {
		width: 280px;
	}

	#currentSpeed {
		margin-left: 0px !important;
	}
}

@media screen and (max-width: 630px) {
	#page-header .mainContentWidth {
		width: 95%;
	}

	.mainContentWidth {
		width: 100%;
		min-width: 350px;
		max-width: 450px;
	}

	.settinglabel {
	    display: inline-block;
	    width: auto;
	    text-align: left;
	}

	.settingoptions {
	    display: inline-block;
	    width: auto;
	    text-align: left;
	}

	.mydialog {
		width: 80% !important;
	}

	#exportImportBut {
		margin-top: 10px;
	}

	.slider {
		width: 140px;
	}

	#currentSpeed {
		margin-left: 0px !important;
	}

	#transparencyImgId {
		margin-left: 0px !important;
	}

	.mySelect, .siteTextArea {
		width: 100% !important;
		margin-bottom: 5px !important;
		margin-top: 5px;
	}

	.textareaDiv {
		display: block;
	}

    .versionInfo {
    	margin-right: 0;
    }
}

@media screen and (max-width: 400px) {
	.mydialog {
		width: 87% !important;
	}
}

.floatl {
	float: left;
}

.floatr {
	float: right;
}

.controlsec-div {
	display: inline-block;
	vertical-align: middle;
}

.controlsec-div img {
	width: 24px;
	height: 24px;
}

input[type="radio"], input[type="radio"] + div, input[type="radio"] + img, input[type="radio"] + span {
	cursor: pointer;
}

input[type="radio"]:checked + div, input[type="radio"]:checked + img {
    opacity: 1;
}

input[type="radio"]:hover + div, input[type="radio"]:hover + img, input[type="radio"] + div:hover, input[type="radio"] + img:hover {
	opacity: .8;
}

.pageIconSettings {
	display: none;
}

.vertmidd {
	vertical-align: middle;
}

.toolbarIcon {
	width: 22px;
	height: 22px;
}

@media (prefers-color-scheme: dark) {
	body, input[type="text"], textarea {
		background-color: #2a2c2f;
	}

	.myFonts, input[type="text"], textarea {
		color: #dcdcdc;
	}

	.myHeader {
		color: #e6e6e6;
	}

	#page-header, .tableClass {
		background-color: #3b3e43ed;
		border-color: #717171;
	}

	a:link, a:visited {
		color: #e8de57;
	}

	a:hover {
		color: #00ff2d;
	}

	.withLove {
		color: #757575;
		text-shadow: 0px 1px 0 #292929;
	}

	@keyframes pulse-color {
		0% { color: #8e8e8e; }
		100% { color: #e74c3c; }
	}

	.statusMsgDiv {
		background-color: #5a5a5a;
	}

	#maskDiv {
		background-color: rgba(25, 25, 25, 0.87) !important;
	}

	.mybutton.green {
		background-color: #407b01;
	}

	.mybutton.blue {
		background-color: #1f80cc;
	}

	.mybutton.orange {
		background-color: #d2420a;
	}

	.mybutton.red {
		background-color: #bb0000;
	}
}
