<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>48</real>
		<key>Key</key>
		<string>iconSize</string>
		<key>Title</key>
		<string>To configure Scroll To Top right-click on the web page.</string>
		<key>Titles</key>
		<array>
			<string>48px Images</string>
			<string>32px Images</string>
		</array>
		<key>Type</key>
		<string>Group</string>
		<key>Values</key>
		<array>
			<real>48</real>
			<real>32</real>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Select the Configure Scroll To Top button from the menu.</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>version_info</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>null</string>
		<key>Key</key>
		<string>version6remove</string>
	</dict>
</array>
</plist>
