<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Pratik Soni</string>
	<key>Builder Version</key>
	<string>534.57.2</string>
	<key>CFBundleDisplayName</key>
	<string>Scroll To Top</string>
	<key>CFBundleIdentifier</key>
	<string>net.sf.users.pratikabu.stt</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>4.5</string>
	<key>CFBundleVersion</key>
	<string>4.5</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>openOptionPage</string>
				<key>Identifier</key>
				<string>configureSTT</string>
				<key>Title</key>
				<string>Configure Scroll To Top</string>
			</dict>
		</array>
		<key>Database Quota</key>
		<real>5242880</real>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>thirdparty/pratikabu-jquery.js</string>
				<string>thirdparty/pratikabu-jquery-rotate.js</string>
				<string>browserspecific/pratikabu-stt-impl.js</string>
				<string>pratikabu-stt.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>pratikabu-stt.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Scroll to top and vice versa in a window.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://scrolltotop.pratikabu.com/res/scroll-to-top-safari-update.plist</string>
	<key>Website</key>
	<string>https://scrolltotop.pratikabu.com</string>
</dict>
</plist>
