<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>To configure Scroll To Top right-click on the web page.</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Select the Configure Scroll To Top button from the menu.</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>version_info</string>
	</dict>
</array>
</plist>
