.myFonts, .mySelect {
	color: black;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
}

.mySelect {
	width: 135px;
	border: 1px solid #2094F0;
	padding: 4px;
}

.tableClass {
	width: 700px;
	margin-bottom: 20px;
	
/* 	to give the cellSpacing */
	border-collapse:separate;
	border-spacing: 15px;
}

.donateContainerDiv {
	position: fixed;
	right: 0px;
	top: 50%;
	margin-top: -101px;
	border: 1px SOLID rgb(207, 207, 207);
	border-radius: 3px 0 0 3px;
	border-right: 0px;
	background: WHITE;
	padding: 10px;
}

.statusMsgDiv {
	position: relative;
	left: -50%;
	border: 1px SOLID #FFEA51;
	color: BLACK;
	border-radius: 0 0 3px 3px;
	border-top: 0px;
	background: #FFEA51;
	padding: 3px 20px 3px 20px;
	display: none;
	font-size: 14px;
}

.myHeader {
	background: url(../../icons/pratikabu-stt-48-1.png) no-repeat;
	text-indent: 60px;
	display: inline-block;
	line-height: 50px;
	letter-spacing: -1.5px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 28px;
	color: #0070C0;
	margin: 10px;
}

a:link {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: #9B2D2D;
	text-decoration: underline;
}

#updateDiv {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20px;
	color: #9B2D2D;
	font-family: Arial,Helvetica,sans-serif;
}

form {
	margin-bottom: 0px;
}

.mybutton {
	padding: 5px 10px;
	display: inline;
	background: #777 url(button.png) repeat-x bottom;
	border: none;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px #666;
	text-decoration: none;
}

.mybutton:hover {
	background-position: 0 -48px;
}

.mybutton.red { background-color: #e50000; }
.mybutton.green { background-color: #58aa00; }
.mybutton.blue { background-color: #4699DA; }
.mybutton.orange { background-color: #FF510D; }
.mybutton.small { font-size: 16px; padding: 3px 7px; }
.mybutton.small:hover { background-position: 0 -50px; }
.mybutton.small:active {background-position: 0 top; }

a.mylink {
	text-decoration: none;
	color: white;
}

.groupHeader {
	font-size: 13px;
	font-weight: bold;
	width: 100%;
	border-bottom: 1px SOLID #CBCBCB;
	padding-bottom: 5px;
}

.siteTextArea {
	width: 85%;
	height: 70px;
	border: 1px solid #2094F0;
}

.advancedProp {
	display: none;
}

.donateButton {
	background: url(donate.gif) no-repeat;
	text-indent: 74px;
	display: inline-block;
	line-height: 21px;
}

[class^=slider] {
	display: inline-block;
	vertical-align: middle;
}

body {
	background-color: rgba(155, 155, 155, 0.2);
}

.centerDiv {
	width: 700px;
	background-color: WHITE;
	border-radius: 3px;
	border: 1px SOLID rgb(207, 207, 207);
}

.withLove {
	margin: 10px;
}

.withLove a:link {
	color: #929292;
	text-decoration: none;
}
.withLove a:visited {
	color: #929292;
	text-decoration: none;
}
.withLove a:hover {
	color: #585858;
	text-decoration: none;
}

hr {
	border: 0;
	border-top: 1px SOLID #CBCBCB;
}