#pratikabuSTTArrowUp {
    position: fixed;
    height: auto;
    width: auto;
    z-index: 2147483647;
    cursor: pointer;
    opacity: .50;
    display: none;
}

#pratikabuSTTArrowUp:hover {
    opacity: .80;
}