.myFonts, .mySelect {
	color: black;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
}

.mySelect {
	width: 100px;
	border: 1px solid #2094F0;
	padding: 4px;
}

.tableClass {
	border: 1px SOLID #2094F0;
	border-radius: 5px;
	background: WHITESMOKE;
	width: 400px;
	margin-bottom: 20px;
}

.myHeader {
	background: url(icons/pratikabu-stt-48.png) no-repeat;
	text-indent: 60px;
	display: inline-block;
	line-height: 50px;
	letter-spacing: -1.5px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 28px;
	color: #0070C0;
	margin: 20px;
}

.mybutton {
	padding: 5px 10px;
	display: inline;
	background: #777 url(button.png) repeat-x bottom;
	border: none;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px #666;
	text-decoration: none;
}
.mybutton:hover {
	background-position: 0 -48px;
}

.mybutton.red { background-color: #e50000; }
.mybutton.small { font-size: 16px; padding: 3px 7px; }
.mybutton.small:hover { background-position: 0 -50px; }
.mybutton.small:active {background-position: 0 top; }