#pratikabuSTTDiv {
	z-index: 2147483647;
	background: rgba(245, 245, 245, 0.2);
	position: fixed;
	display: none;
	border: 1px SOLID rgba(197, 197, 197, 0.2);
	border-radius: 5px;
	padding: 3px;
	width: 72px;
	line-height: 0;
}