/*! jQuery UI - v1.9.2 - 2012-12-28
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.slider.css
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

/* Component containers
----------------------------------*/
.pratikabustt .ui-widget { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 1.1em; }
.pratikabustt .ui-widget .ui-widget { font-size: 1em; }
.pratikabustt .ui-widget input, .pratikabustt .ui-widget select, .pratikabustt .ui-widget textarea, .pratikabustt .ui-widget button { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 1em; }
.pratikabustt .ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }
.pratikabustt .ui-widget-content a { color: #333333; }
.pratikabustt .ui-widget-header { border: 1px solid #e78f08; border-radius: 4px; background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.pratikabustt .ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.pratikabustt .ui-state-default, .pratikabustt .ui-widget-content .ui-state-default, .pratikabustt .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1c94c4; }
.pratikabustt .ui-state-default a, .pratikabustt .ui-state-default a:link, .pratikabustt .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.pratikabustt .ui-state-hover, .pratikabustt .ui-widget-content .ui-state-hover, .pratikabustt .ui-widget-header .ui-state-hover, .pratikabustt .ui-state-focus, .pratikabustt .ui-widget-content .ui-state-focus, .pratikabustt .ui-widget-header .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; }
.pratikabustt .ui-state-hover a, .pratikabustt .ui-state-hover a:hover, .pratikabustt .ui-state-hover a:link, .pratikabustt .ui-state-hover a:visited { color: #c77405; text-decoration: none; }
.pratikabustt .ui-state-active, .pratikabustt .ui-widget-content .ui-state-active, .pratikabustt .ui-widget-header .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }
.pratikabustt .ui-state-active a, .pratikabustt .ui-state-active a:link, .pratikabustt .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.pratikabustt .ui-state-highlight, .pratikabustt .ui-widget-content .ui-state-highlight, .pratikabustt .ui-widget-header .ui-state-highlight  {border: 1px solid #fed22f; background: #ffe45c url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x; color: #363636; }
.pratikabustt .ui-state-highlight a, .pratikabustt .ui-widget-content .ui-state-highlight a,.pratikabustt .ui-widget-header .ui-state-highlight a { color: #363636; }
.pratikabustt .ui-state-error, .pratikabustt .ui-widget-content .ui-state-error, .pratikabustt .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat; color: #ffffff; }
.pratikabustt .ui-state-error a, .pratikabustt .ui-widget-content .ui-state-error a, .pratikabustt .ui-widget-header .ui-state-error a { color: #ffffff; }
.pratikabustt .ui-state-error-text, .pratikabustt .ui-widget-content .ui-state-error-text, .pratikabustt .ui-widget-header .ui-state-error-text { color: #ffffff; }
.pratikabustt .ui-priority-primary, .pratikabustt .ui-widget-content .ui-priority-primary, .pratikabustt .ui-widget-header .ui-priority-primary { font-weight: bold; }
.pratikabustt .ui-priority-secondary, .pratikabustt .ui-widget-content .ui-priority-secondary,  .pratikabustt .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.pratikabustt .ui-state-disabled, .pratikabustt .ui-widget-content .ui-state-disabled, .pratikabustt .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.pratikabustt .ui-state-disabled .ui-icon { filter:Alpha(Opacity=35); } /* For IE8 - See #6059 */

/* Icons
----------------------------------*/

/* states and images */
.pratikabustt .ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }
.pratikabustt .ui-widget-content .ui-icon {background-image: url(images/ui-icons_222222_256x240.png); }
.pratikabustt .ui-widget-header .ui-icon {background-image: url(images/ui-icons_ffffff_256x240.png); }
.pratikabustt .ui-state-default .ui-icon { background-image: url(images/ui-icons_ef8c08_256x240.png); }
.pratikabustt .ui-state-hover .ui-icon, .pratikabustt .ui-state-focus .ui-icon {background-image: url(images/ui-icons_ef8c08_256x240.png); }
.pratikabustt .ui-state-active .ui-icon {background-image: url(images/ui-icons_ef8c08_256x240.png); }
.pratikabustt .ui-state-highlight .ui-icon {background-image: url(images/ui-icons_228ef1_256x240.png); }
.pratikabustt .ui-state-error .ui-icon, .pratikabustt .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_ffd27a_256x240.png); }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.pratikabustt .ui-corner-all, .pratikabustt .ui-corner-top, .pratikabustt .ui-corner-left, .pratikabustt .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.pratikabustt .ui-corner-all, .pratikabustt .ui-corner-top, .pratikabustt .ui-corner-right, .pratikabustt .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.pratikabustt .ui-corner-all, .pratikabustt .ui-corner-bottom, .pratikabustt .ui-corner-left, .pratikabustt .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.pratikabustt .ui-corner-all, .pratikabustt .ui-corner-bottom, .pratikabustt .ui-corner-right, .pratikabustt .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* Overlays */
.pratikabustt .ui-widget-overlay { background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .5;filter:Alpha(Opacity=50); }
.pratikabustt .ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x; opacity: .2;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }