<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Pratik Soni</string>
	<key>Builder Version</key>
	<string>534.57.2</string>
	<key>CFBundleDisplayName</key>
	<string>Scroll To Top</string>
	<key>CFBundleIdentifier</key>
	<string>net.sf.users.pratikabu.stt</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jquery-1.8.2.pratikabu.js</string>
				<string>pratikabustt-browser-impl.js</string>
				<string>content_script.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>pratikabu-stt.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>A plugin to scroll to top and vice versa of a window.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://pratikabu.users.sourceforge.net/extensions/scrolltotop/res/scroll-to-top-safari-update.plist</string>
	<key>Website</key>
	<string>http://pratikabu.users.sourceforge.net/extensions/scrolltotop</string>
</dict>
</plist>
